<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html b:version='2' class='v2' expr:dir='data:blog.languageDirection' xmlns='http://www.w3.org/1999/xhtml' xmlns:b='http://www.google.com/2005/gml/b' xmlns:data='http://www.google.com/2005/gml/data' xmlns:expr='http://www.google.com/2005/gml/expr'>
<head>
  <meta content='IE=EmulateIE7' http-equiv='X-UA-Compatible'/>
  <b:if cond='data:blog.isMobile'>
    <meta content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0' name='viewport'/>
  <b:else/>
    <meta content='width=1100' name='viewport'/>
  </b:if>
  <b:include data='blog' name='all-head-content'/>
  <title><data:blog.pageTitle/></title>
{% include "skin.html" %}
</head>

<body expr:class='&quot;loading&quot; + data:blog.mobileClass'>
{% include "site-content.html" %}
<script type='text/javascript'>
  window.setTimeout(function() {
    document.body.className = document.body.className.replace(&#39;loading&#39;, &#39;&#39;);
  }, 10);
</script>
</body>
{% for widget in glob("widgets/*.html") %}
    {% include widget %}
{% endfor %}
</html>
